<nav class="navbar-light bg-primary">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9 mx-auto">
        <div class="d-flex justify-content-between px-md-3 py-3">
          <a class="text-white font-weight-bold" href="#">@Paweł Urbanek 2018</a>
          <a class="text-white font-weight-bold" href="#">Terms and Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
</nav>
