$margin-bottom: 100px;

.dashboard {
  min-height: calc(100vh - #{$footer-height} - #{$margin-bottom});
  height: calc(100% - #{$footer-height} - #{$margin-bottom});
  margin-bottom: $margin-bottom;
}
