<div class="full-height--has-components bg-light border-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7 mx-auto my-5">
        <div class="card mt-md-5">
          <div class="card-body p-5 mt-3 text-center">
            <i class="icon-ok text-primary h3 border-primary"></i>
            <h4 class="mt-5">Thank you for signing up!</h4>
            <p class="my-4">You’re about to start <strong>7 day free trial</strong> of Focus Board. Your credit card will not be charged if you cancel before the trial is over. You will receive an email with one-click cancellation link 24h before the end of your trial period.</p>
            <p>If you decide to purchase the access, you will be charged $9/month.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= partial "components/footer" %>
