<div class="full-height--has-components bg-light border-top">
  <div class="container-fluid">
    <div class="row mt-5">
      <div class="col-md-7 mx-auto mt-lg-5 text-center">
        <img src="images/dashboard-empty.png" alt="dashboard-empty" class="img-fluid mt-lg-5">
        <p class="my-4">Looks like you haven’t added any web images yet.</p>
        <p>Download <a href="#">Chrome Extension</a> and configure it using your Api Key:</p>
        <strong>832ec0023csl00132odja</strong>
      </div>
    </div>
  </div>
</div>
<%= partial "components/beta_footer" %>
