<div class="bg-light border-top dashboard">
  <div class="container-fluid">
    <div class="row p-3">
      <div class="col-md-4 mb-3 col-lg-3">
        <div class="screen-card-empty"></div>
      </div>
      <div class="col-md-4 mb-3 col-lg-3">
        <div class="fake-browser d-flex">
          <div class="fake-browser-location d-inline mr-auto">https://focusboard.io/dashboard</div>
          <div class="fake-browser-button d-inline"></div>
          <div class="fake-browser-time d-inline">>(1m ago)</div>
        </div>
        <div class="screen-card">
          <img src="images/dashboard-browser.png" srcset="images/dashboard-browser@2x.png 2x, images/dashboard-browser@3x.png 3x" class="img-fluid">
          <div class="screen-card-overlay">
            <i class="icon-search"></i>
            <div class="overlay-actions">
              <a href="#" class="text-white"><i class="icon-trash-empty"></i></a>
              <a href="#" class="text-white"><i class="icon-cog"></i></a>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-4 col-lg-3 mb-3">
        <div class="screen-card-empty"></div>
      </div>
    </div>
    <nav class="navbar fixed-bottom btn-floating navbar-light bg-light">
      <a class="btn btn-primary px-5 font-weight-bold mt-2 btn-floating--bottom-left" href="#">Reset Layout</a>
      <a class="btn btn-primary font-weight-bold mt-2 btn-floating--bottom-right" href="#">Chat</a>
    </nav>
  </div>
</div>

<%= partial "components/beta_footer" %>
